.rainbow{
	margin-left: 600px;

}

.colors{
	font-family: Garamond;
	font-size:20px;
	color: beige;
}
.hey{
	font-family: garamond;
	font-size: 30px;
	color: beige;
	margin-left: 350px;
}

.button{
	font-size:40px;
	border-radius:15px;
	top:150px;

}
.bulb{
	margin right: 300px;
}